<!DOCTYPE html>
<html lang="en">
<head>
    <title>StreetScore Visualization</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">StreetScore Visualization</h3>
        </div>
        <div class="jumbotron">
            <img src="{{imgpath}}"><br><br>
            {{imgscore}}
        </div>
        <footer class="footer" style="text-align:right">
            <p>&copy; MIT Media Lab 2016</p>
        </footer>
 
    </div>
</body>
 